openpyxl>=3.1.5
pandas>=3.0.0
pytest>=8.0.0
selenium>=4.20.0
Appium-Python-Client>=4.0.0
requests>=2.31.0
Django>=5.0.0
djangorestframework>=3.14.0
pillow>=10.0.0
django-cors-headers>=4.3.0
pyyaml>=6.0.0
